@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: all 0.1s ease-out;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

.underline-style {
  -webkit-text-decoration: underline wavy #20a7d8;
  text-decoration: underline wavy #20a7d8;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
